@font-face {
    font-family: cursive;
    src: url("fonts/Rubik.ttf");
}

* {
    font-family: cursive;
}

body {
    margin: 0;
}

#passwordInput {
    -webkit-text-security: disc;
}

#messageDiv {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}